/*BUTTONS*/
.btn {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn--primary {
  background: var(--clr-primary);
  color: white;
}

.btn--primary:hover {
  background: #227652;
}

/*FORMS*/
.form-group {
  margin-bottom: 1.5rem;
}

.form-group__label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: black;
}

.form-group__input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* ==============================
   DIVIDER
============================== */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 1.5rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: rgba(0, 0, 0, 0.6);
}